* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
}

/* Style the header */
.header {
  background-color: #000000;
  padding: 20px;
  text-align: center;
}



/* Create three unequal columns that floats next to each other */
.column {
  float: left;
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
  position: relative;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
   
  }
}

/* Style the footer */
.footer {
  background-color: #000000;
  padding: 10px;
  text-align: center;
}

a:link {
  text-decoration: none;
}
a:active {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
}
